html{
  position: absolute;
  top: 0;
  width: 100%;
}

.header {
  margin-top: 15px !important;
  padding: 0px 30px;
  list-style-type: none;
  overflow: hidden;
  font-family: arial, sans-serif;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

.headerli a {
  display: inline-block;
  color: #000000de;
  position: relative;
  text-align: right;
  text-decoration: none;
  padding-right: 12px;
}

li.pic.headerli {
  border: 1px solid #4285f4;
  font-weight: bold;
  outline: none;
  background-color: #4285f4;
  border-radius: 2px;
  line-height: 28px;
  padding-left: 12px;

}
li.pic.headerli a{
  color: #f2f2f2;
}

.headerli a:hover {
  text-decoration: underline;
}

.container {
  height: 233px;
  text-align: center;
  margin: 89px 0px 0px;
}

.container img {
  width: 272px;
  height: 92px;
  padding: 55px 0px;
}

.search-area {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  margin-top: -60px;
  width: 582px;
  border-radius: 24px;
}

.search-area:hover {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.24), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.search {
  flex: 1;
  display: flex;
  padding: 1px 44px 1 52px;
}

.search-img {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.search-img span {
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  padding: 5px 8px 0px 16px;
  margin-top: 0px;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
}

.voice {
  display: flex;
  align-items: center;
}

.voice span img {
  margin-right: 14px;
  cursor: pointer;
  width: 24px;
  height: 24px;
}


.input-enter {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.input-area {
  color: transparent;
  margin-top: 3px;
  display: flex;
  flex: 100%;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
}

.input {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  font: 13px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: textfield;
  cursor: text;
  border: none;
  width: 480px;
}

.buttons {
  text-align: center;
  margin-top: 17px;
}

.googlesearch {
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  color: #5f6368;
  border-radius: 4px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
}

.googlesearch:hover {
  border: 1px solid #c6c6c6;
  color: #222;
  background-color: #f8f8f8;
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.feelinglucky {
  border: 1px solid #f2f2f2;

  background-color: #f2f2f2;
  border-radius: 4px;
  color: #5f6368;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
}

.feelinglucky:hover {
  border: 1px solid #c6c6c6;
  color: #222;
  background-color: #f8f8f8;
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.footer {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #dfe1e5;
  border-top: 1px solid #dadce0;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -8px;
  line-height: 10px;
}

.footerli {
  float: left;
  list-style: none;
}

.footerli a {
  display: block;
  color: #70757a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin-left: 14px;
  margin-right: -20px;
}

.footerli a:hover {
  text-decoration: underline;
}
